* {
	box-sizing: border-box;
}
html {
  background-color: #6F729B;
}
.login-wrapper {
	position: absolute;
	width: 400px;
	height: 200px;
	top:150px;
	left: 200px;
	background-color: #fff;
	padding: 20px;
	text-align: center;
}
.login-wrapper input {
	width: 200px;
	margin-bottom: 20px;
	padding: 5px;
	font-size: 15px;
}
.login-wrapper button {

}